/* === Tabular Heat Chart Styles === */

.heatMapTable rect.cell {
		stroke: #999999;
		stroke-width: 0.5px;
}

.heatMapTable rect.cell:hover {
		opacity: 0.7;
		stroke: black;
		cursor: pointer;
}

.heatMapTable .xAxis path, .heatMapTable .yAxis path {
		display: none;
}
