/* === HTML List Styles === */

.htmlList, .htmlList ul {
		margin: 0;
		padding: 0;
		list-style: none;
}

.htmlList ul {
		/* Indentation */
		margin-left: 1em;
		position: relative;
}

.htmlList ul ul {
		/* Indentation / 2 */
		margin-left: .5em;
}

.htmlList ul:before {
		content: '';
		display: block;
		width: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		border-left: 1px solid;
}

.htmlList li {
		margin: 0;
		/* Indentation + .5em */
		padding: 0 1.5em;
		/* Default list item's line-height */
		line-height: 2em;
		font-weight: bold;
		position: relative;
}

.htmlList ul li:before {
		content: '';
		display: block;
		/* Same with Indentation */
		width: 10px;
		height: 0;
		border-top: 1px solid;
		/* Border top width */
		margin-top: -1px;
		position: absolute;
		/* line-height / 2 */
		top: 1em;
		left: 0;
}

.htmlList ul li:last-child:before {
		background: #ffffff;
		height: auto;
		/* line-height / 2 */
		top: 1em;
		bottom: 0;
}
